.App{
  text-align: center;
}
.navBar{
  background-color: #333;
  color: wheat;
  padding: 1rem;
}

.product-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.product-card{
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 1rem;
  padding: 1rem;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
 
.product-info{
  padding-top: 1rem;
}

.product-info h3{
  font-size: 1rem;
  color: #555;
}